  
h1 {
    font-size: 70px;
    padding: 50px;
    padding-bottom: 25px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: white;
}

.center{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.meme {

    padding: 20px;
    height: 50%;
    width: 50%;

    display: block;
    margin-left: auto;
    margin-right: auto;

}

.vid {
	
display: block;
margin: 0 auto;

}

.git {

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    padding-bottom: 10px;
    height:3%;
    width: 3%;

}

.cred {

    text-align: center;
    padding: 50px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    text-decoration: none;
}

a, a:link, a:visited, a:hover {
    color:white;
    text-decoration: none;
}
