  
h1 {
    font-size: 70px;
    padding: 50px;
    padding-bottom: 25px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: white;
}

.center{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.meme {

    padding: 20px;
    height: 50%;
    width: 50%;

    display: block;
    margin-left: auto;
    margin-right: auto;

}

.vid {
	
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.git {

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    padding-bottom: 10px;
    height:3%;
    width: 3%;

}

.cred {

    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
